* {
  box-sizing: border-box;
}
body {
  margin: 40px 0px 0px 0px;
  background-color: #f0efe9;
  color: #606372;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.App {
  width: 300px;
  height: 450px;
  background-color: #fff;
}
/* Date Container */
.date {
  padding: 0;
  margin: 0;
}
.date-text {
  font-size: 30px;
  font-weight: 400;
  margin: 5px;
}
.month,
.year,
.day {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
.year {
  color: #b9bac0;
}
.day {
  margin-top: 20px;
}
/* Task List */
.task-list {
  height: 330px;
  overflow-y: auto;
}
.task {
  margin-top: 25px;
}
.empty-task {
  margin-top: 150px;
  font-size: 13px;
  text-align: center;
  text-decoration: underline;
}
.task-name {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}
.completed-task {
  font-size: 13px;
  font-weight: 500;
  color: #b9bac0;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}
/* Radio Button */
.disable-radio-btn {
  width: 21px;
  height: 21px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #b9bac0;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
.checked-img {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  cursor: pointer;
}
/* Add New Task Button  */
.add-button {
  background-color: #62e9b1;
  color: #47c18d;
  border-radius: 30px;
  height: 50px;
  width: 50px;
  padding: 5px 0px 0px 0px;
}
.add-button:hover {
  background-color: #00ff91;
  border-color: #556eff;
  color: #556eff;
}
/* Input Field For New Task */
.task-input-element {
  width: 250px;
  border-radius: 5px;
  text-align: center;
  border: 2px solid #62e9b1;
  color: inherit;
}
.task-input-element:focus {
  outline: 2px solid #62e9b1;
  border: 2px solid #47c18d;
}
